<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
    <div>
        <p:carousel value="#{carBean.cars}" var="car" rows="1" itemStyle="height:350px;width:400px" effect="easeInStrong" circular="true">
            <p:graphicImage value="/images/#{car.manufacturer}.png"/>
            <h:outputText value="Model: #{car.model}" />
            <h:outputText value="Year: #{car.year}" />
            <h:outputText value="Color: #{car.color}" />
        </p:carousel>
        <p:accordionPanel>
            <p:tab title="First Tab Title">
                <p>This is a default JSF button</p>
                <h:commandButton value="JSF Button" />
            </p:tab>
            <p:tab title="Second Tab Title">
                <p>This is a Primefaces button with icon</p>
                <p:button icon="star" value="Primeface Button"/>
            </p:tab>
            <p:tab title="Third Tab Title">
                <h:inputText value="#{counter.text}">
                <p:ajax update="out" event="keyup"/>
            </h:inputText>
                <h:outputText id="out" value="#{counter.text}" />
                <p:autoComplete value="#{bean.text}" completeMethod="#{bean.complete}" dropdown="true"/>
            </p:tab>
            <p:tab title="Fourth Tab Title">
                <p:panel id="pnl" header="My Panel">
                    <p:commandButton id="saveBtn" value="Save" />
                </p:panel>
                <p:blockUI block="pnl" trigger="saveBtn" />
            </p:tab>
            <p:tab title="Fifth Tab Title">
                <p:calendar value="#{bean.date}" mode="inline" pages="3" pattern="dd/MM/yyyy"/>
            </p:tab>
        </p:accordionPanel>
</div>
</h:body>
</html>